.home-hero {
  padding-bottom: 8em;
  text-align: center;
  font-size: 6px !important;
  margin: 7em;
}

.middleText {
  font-size: 4em;
  font-weight: 500;
  color: antiquewhite;
  letter-spacing: 0.07em;
}

.welcomeText {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: #2fce74;
}
